<!--About Page HTML-->

<!DOCTYPE html>
<html lang='en'>
 <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet"
        type="text/css"
        href="about.css">
    <title>Generator</title>
 </head>
 <body>

    <!--Title-->
    <header>
    <div class="flexbox-container">
        <div class="flexbox-item flexbox-item-1">
            <h1 id="title">About Us</h1>  
        </div>
    </div>

    <!--Github information-->
    <a class="github" href="https://github.com/MikeKarnezisLewisU/FinalProjectScrumandCoke"><img src="github.svg"></a>

    <!--Navigation Bar-->
    <ul class="horzbar">
        <li><a href="/" id="home">Home</a></li>
        <li><a href="/generate" id="generate">Generate</a></li>
        <li><a href="/about" id="about">About</a></li>
   
        <!--To go to the login page or signup page (need to make conditionally using ejs properties)-->
        <% if (user) { %>
            <li><a href="/profile" id="profile">Profile</a></li>
            <li><a href="/logout" id="logout">Logout</a></li>
        <% } else { %>
            <li><a href="/login" id="login">Login</a></li>
            <li><a href="/signup" id="signup">Sign Up</a></li>
        <% } %>
    </ul>

    <!--Welcome the current user if they exist (must be conditional then)-->
    <% if (user) { %>
        <p id="welcomeUser">Welcome, <%= user.email %></p>
    <% } %>
    <p>
        Password Generator is our final project for our Software Engineering class with <a href="https://www.linkedin.com/in/ericpogue/">Prof. Eric Pogue</a>. <br>
        The purpose of this project was to not only practice and implement the MERN stack with a project that was our idea.<br>
        This project also had the purpose of putting all the meambers of ScrumAndCoke, our scrum team, in a situation that would be similar to working on projects after graduation.<br>
        Our team has 4 meambers. Jack  Krejci, Michael Karnezis, Simeon Ngalamou and Tyler Quinn. <br>
        This application, Password Generator, is a an application with the goal of giving users the ability to generate their own unique and reliable
        passwords with a quick click of a button <br>
        <img class="logo" src="/images/teamLogo.png" alt="Team Logo"/>
        <br>
        <p>The ScrumAndCoke team don't participate in any form of the sale of data or the information gained from the usage of this application.</p> <br>
    </p>
    <p>
    Credits: <br>
    <h2 class="team">Our Team</h2></p>
    <img class="team" src="/images/jackPicture.jpg" alt="Jack" href="https://lively-bay-026c2c510.1.azurestaticapps.net/"/>
    <img class="team" src="/images/mikePicture.png" alt="Mike" href="https://ashy-grass-061d6ab10.1.azurestaticapps.net/"/>
    <p>
    Michael Karnezis and Jack Krejci were responsible for the majority of the backend coding that allows our application to fuction correctly.<br>
    Their countless hours of hard work perfecting the implementation of a MongoDB server among other things has not gone unnoticed, and is greatly appreciated.<br>
    </p>
    <img class="team" src="/images/tylercsphoto.jpg" alt="Tyler" href="https://softwareengineeringgettingtoknowtyler.azurewebsites.net/">
    <img class="team" src="/images/simeonPicture.jpg" alt="Simeon" href="https://assignment-portfolio-22.azurewebsites.net/">
    <p>
    Simeon Ngalamou and Tyler Quinnwere responsible for the majority of the frontend coding that allows our application to traversed and utilized with ease.<br>
    Their countless hours of hard work perfecting the implementation of a numerous UI elements among other things has not gone unnoticed, and is greatly appreciated.<br>
    </p>
   </body>
</html>